# Ignore virtual environment
/venv/

# Ignore dataset contents except .gitkeep
/v30_Dataset/*
!/v30_Dataset/.gitkeep

# Ignore libraries contents except .gitkeep
/v40_Libraries/*
!/v40_Libraries/.gitkeep

# Ignore credentials and token files
credentials.json
token.json

# Ignore IntelliJ IDEA project files
.idea/

# Ignore SQLite database
/v20_Test/weather_data.db